<h1>TODO 리스트</h1>
<%= form_tag todos_path do %>
  <%= text_field_tag :item, nil, placeholder: "새로운 할 일", autofocus: true %>
  <%= submit_tag "추가" %>
<% end %>
<ul>
  <% @todos.each do |t| %>
    <li>
      <%= link_to toggle_todo_path(t) do %>
        <% if t.complete %>
          <i class="fa fa-check-square-o" aria-hidden="true"></i>
        <% else %>
          <i class="fa fa-square-o" aria-hidden="true"></i>
        <% end %>
      <% end %>
      <span data-id="<%= t.id %>" class="item"><%= t.item %></span>
      <%= link_to '수정', edit_todo_path(t) %>
      <%= link_to '삭제', todo_path(t), method: :delete %>
    </li>
  <% end %>
</ul>
